<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Estadisticas</title>
    <link href="https://fonts.cdnfonts.com/css/8bit-wonder" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="circles">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
      </div>

      <div class="card">
        <div class="only_logo">
          <img src=".\assets\output-onlinepngtools.png" alt="" />
        </div>
        <div class="container" style="margin-left: 13px; margin-bottom: 50px">
          <div class="row"></div>
          <div class="carta_info">
            <div
              style="
                font-family: '8BIT WONDER', sans-serif;
                color: white;
                font-size: 16px;
                margin-right: 120px;
              "
            >
              <img
                src=".\assets\alien-space-character-of-pixels-for-a-game.png"
                alt=""
              />
              <p style="font-family: '8BIT WONDER', sans-serif">Gametag:</p>
              <div style="display: flex">
                <img
                  (click)="habilitarEdicion()"
                  src=".\assets\edit.png"
                  style="
                    width: 15px;
                    height: 15px;
                    margin-top: 15px;
                    margin-right: 8px;
                  "
                />
                <input
                  [readonly]="!editando"
                  type="text"
                  id="input"
                  value="{{ currentUserGameTag }}"
                  style="font-family: '8BIT WONDER', sans-serif"
                  #miInput
                  (click)="habilitarEdicion()"
                />
              </div>
              <div
                type="submit"
                class="btn btn-primary"
                style="
                  border-color: transparent;
                  color: white;
                  background-color: rgb(23, 27, 44);
                  font-family: '8BIT WONDER', sans-serif;
                  font-size: 12px;
                  position: relative;
                  text-align: center;
                  margin-top: 5px;
                  height: fit-content;
                "
                (click)="cambiarGameTag(miInput.value)"
              >
                Editar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
        class="alert alert-danger"
        role="alert"
        style="
          font-family: '8BIT WONDER', sans-serif;
          font-size: smaller;
          color: red; width: 600px;
          text-align: center;
          margin-left: 660px;
          margin-top: 10px;
        "
        *ngIf="error"
      >
        {{ mensaje }}
      </div>

      <div
        class="alert alert"
        role="alert"
        style="
          font-family: '8BIT WONDER', sans-serif;
          font-size: smaller;
          color: white; width: 600px;
          text-align: center;
          margin-left: 660px;
          margin-top: 10px;
          background-color: #519c05;
        "
        *ngIf="success"
      >
        Gametag cambiado correctamente
      </div>
  </body>
</html>
