<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flappy Bird</title>
    <link
      href="https://fonts.googleapis.com/css?family=Teko:700"
      rel="stylesheet"
    />
    <style>
      canvas {
        border: 1px solid #000;
        display: block;
        margin: 80px auto;
        width: 450px;
      }
    </style>
  </head>
  <body *ngIf="desbloqueado">
    <div
      class="wrapper"
      style="position: absolute; top: 14.5%; left: 44%; user-select: none"
    >
      <div class="game-details">
        <span
          class="score"
          style="font-family: '8BIT WONDER', sans-serif; color: black"
          >Score: 0</span
        >
        <span
          #miSpan
          class="high-score"
          style="
            font-family: '8BIT WONDER', sans-serif;
            margin-left: 20px;
            color: black;
          "
          >High Score: {{ highScore }}</span
        >
      </div>
    </div>
    <canvas id="bird" width="320" height="480"></canvas>
    <button
      id="play-button"
      style="
        font-family: '8BIT WONDER', sans-serif;
        background-color: rgb(228, 118, 238);
        left: 47.5%;
        bottom: 12%;
        position: absolute;
        user-select: none;
      "
    >
      START
    </button>
  </body>
</html>
