<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Snake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body *ngIf="desbloqueado">
    <div class="wrapper">
      <div class="game-details">
        <span class="score" style="font-family: '8BIT WONDER', sans-serif"
          >Score: 0</span
        >
        <span
          #miSpan
          class="high-score"
          style="font-family: '8BIT WONDER', sans-serif"
          >High Score: {{ highScore }}</span
        >
      </div>
      <div class="play-board"></div>
      <div class="controls">
        <i data-key="ArrowLeft" class="fa-solid fa-arrow-left-long"></i>
        <i data-key="ArrowUp" class="fa-solid fa-arrow-up-long"></i>
        <i data-key="ArrowRight" class="fa-solid fa-arrow-right-long"></i>
        <i data-key="ArrowDown" class="fa-solid fa-arrow-down-long"></i>
      </div>
    </div>
  </body>
  <button
    id="btnplay"
    style="
      margin-left: 48%;
      margin-top: 10px;
      font-size: 1.3rem;
      font-family: '8BIT WONDER', sans-serif;
      background-color: rgb(228, 118, 238);
    "
    (click)="reiniciar()"
  >
    START
  </button>
</html>
