body {
  font-family: "Muli", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background: transparent;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  margin: 0%;
}

.categories__title {
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 270px;
  height: 230px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 150px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item-blockGames {
  width: 270px;
  height: 230px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  top: 63%;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
  opacity: 0.3;
}

.carousel-item:hover ~ .carousel-item {
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}

.carousel-item-blockGames-:hover ~ .carousel-item-blockGames {
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  margin-right: 40px;
  margin-left: 40px;
}
.carousel__container:hover .carousel-item-blockGames:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  margin-right: 90px;
  margin-left: 40px;
}

.carousel-item__img {
  width: 100%;
  height: 100%;

  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  font-size: 0.9rem;
  color: #2ecc71;
}

.carousel-item__details .controls {
  padding-top: 80px;
}

.carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: auto;
  margin-bottom: 10px;
}
.carousel-item__details--title {
  font-size: 25px;
}
.carousel-item__details--subtitle {
  font-size: 15px;
}
