<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body *ngIf="desbloqueado">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0,
       user-scalable=0"
    />
    <div id="score">
      <p style="font-family: '8BIT WONDER', sans-serif">
        Score:
        <span
          class="ml-1"
          id="scoreEl"
          style="font-family: '8BIT WONDER', sans-serif"
          >0</span
        >
      </p>

      <p style="font-family: '8BIT WONDER', sans-serif">
        Highest:
        <span
          #miSpan
          class="ml-1"
          id="highestEl"
          style="font-family: '8BIT WONDER', sans-serif"
          >{{ highScore }}</span
        >
      </p>
    </div>

    <div id="modelEl">
      <div>
        <h1 id="bigScoreEl">0</h1>
        <p style="font-family: '8BIT WONDER', sans-serif">Points</p>
        <div>
          <button
            id="startGameBtn"
            style="font-family: '8BIT WONDER', sans-serif"
          >
            Start
          </button>
        </div>
      </div>
    </div>

    <canvas></canvas>
  </body>
</html>
