*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  background: transparent;
}
.wavy{
  position: relative;
  margin-top: 8%;
}
.wavy span {
  font-family: '8BIT WONDER', sans-serif;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0%
  {
    transform: translateY(0px);
  }
  20%
  {
    transform: translateY(-20px);
  }
  40%,100%
  {
    transform: translateY(0px);
  }
}
.btns{
  display: flex;
  flex-direction: column;
  padding: auto;
  margin-right: 30%;
  margin-left: 30%;
}
.form-login{
  position: absolute;
  margin-top: 18%;
}











