<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/8bit-wonder" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body (keydown.enter)="onKeydown($event, usuario.value, pass.value)">
    <div class="wavy">
      <span style="--i: 1">o</span>
      <span style="--i: 2">n</span>
      <span style="--i: 3">l</span>
      <span style="--i: 4">y</span>
      <span style="--i: 5">g</span>
      <span style="--i: 6">a</span>
      <span style="--i: 7">m</span>
      <span style="--i: 8">e</span>
      <span style="--i: 9">s</span>
      <span style="--i: 10">.</span>
      <span style="--i: 11">.</span>
      <span style="--i: 12">.</span>
    </div>

    <div class="form-login col-md-4 text-center">
      <form class="inputs">
        <div class="mb-4">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email:"
            #usuario
          />
        </div>
        <div class="mb-4">
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password:"
            #pass
          />
        </div>
        <div class="mb-4" *ngIf="tipo == 'register'">
          <input
            type="text"
            class="form-control"
            id="gametag"
            placeholder="GameTag:"
            #gametag
          />
        </div>
        <div
          class="alert alert"
          role="alert"
          style="
            font-family: '8BIT WONDER', sans-serif;
            font-size: smaller;
            color: white;
            background-color:  {{ color }};
          "
          *ngIf="error"
        >
          {{ mensaje }}
        </div>
        <div class="btns" *ngIf="tipo == 'login'">
          <button
            type="button"
            class="btn btn-outline-light text-center"
            style="
              font-family: '8BIT WONDER', sans-serif;
              background-color: gray;
            "
            (click)="loguearse(usuario.value, pass.value)"
          >
            Login
          </button>
        </div>
        <div class="btns" *ngIf="tipo == 'register'">
          <button
            type="button"
            class="btn btn-outline-light text-center mb-3"
            style="
              font-family: '8BIT WONDER', sans-serif;
              background-color: gray;
            "
            (click)="registro(usuario.value, pass.value)"
          >
            Register
          </button>
        </div>
      </form>
      <div class="btnes text-center mt-4">
        <button type="button" id="btn-login" (click)="navegar('login')">
          Login
        </button>
        <button type="button" id="btn-register" (click)="navegar('register')">
          Register
        </button>
      </div>
    </div>
  </body>
</html>
