<div style="display: flex;">
<div class="route"></div>
<section class="giftcard">
  <section class="giftcard-cover">
    <img src=".\assets\apple-logo.png">
  </section>
  <div class="giftcard-content">
    <h2>Enohorabuena! Has conseguido un premioooo!</h2>
    <address>
      <h3>Email de usuario</h3>

    </address>
    <div class="subtext">El código de la tarjeta regalo se enviará a tu correo</div>
  </div>
  <footer class="giftcard-footer">
    <div class="giftcard-text">
      <h1>Tarjeta Regalo Apple</h1>
      <h2>10€</h2>
    </div>
    <div class="ribbon">
      <div class="giftwrap">
        <button
              type="button"
              class="btn text-center"
              style="
                width: 75%;
                height: 32%;
                font-family: '8BIT WONDER', sans-serif;
                font-size: 9px;
                bottom: -30%;
                margin-left: 20px;
                background-color: orange;
                color: white;
                font-size: 12px;
              "
            >
              Canjear
            </button>
      </div>
      <div class="bow">
        <i class="fa fa-bookmark"></i>
        <i class="fa fa-bookmark"></i>
      </div>
    </div>
    <div class="giftcard-info">
      <div>
        <a  class="button secondary">Confirmar</a>
      </div>
    </div>
  </footer>
</section>

<div class="route" id="buy"></div>
<section class="giftcard">
  <section class="giftcard-cover">
    <img src=".\assets\social.png">
  </section>
  <div class="giftcard-content">
    <h2>Enohorabuena! Has conseguido un premioooo!</h2>
    <address>
      <h3>Email de usuario</h3>

    </address>
    <div class="subtext">El código de la tarjeta regalo se enviará a tu correo</div>
  </div>
  <footer class="giftcard-footer">
    <div class="giftcard-text">
      <h1>Tarjeta Regalo Amazon</h1>
      <h2>10€</h2>
    </div>
    <div class="ribbon">
      <div class="giftwrap">
        <button
              type="button"
              class="btn text-center"
              style="
                width: 75%;
                height: 32%;
                font-family: '8BIT WONDER', sans-serif;
                font-size: 9px;
                bottom: -30%;
                margin-left: 20px;
                background-color: orange;
                color: white;
                font-size: 12px;
              "
            >
              Canjear
            </button>
      </div>
      <div class="bow">
        <i class="fa fa-bookmark"></i>
        <i class="fa fa-bookmark"></i>
      </div>
    </div>
    <div class="giftcard-info">
      <div>
        <a  class="button secondary">Confirmar</a>
      </div>
    </div>
  </footer>
</section>

<div class="route" id="buy"></div>
<section class="giftcard">
  <section class="giftcard-cover">
    <img src=".\assets\google-play.png">
  </section>
  <div class="giftcard-content">
    <h2>Enohorabuena! Has conseguido un premioooo!</h2>
    <address>
      <h3>Email de usuario</h3>

    </address>
    <div class="subtext">El código de la tarjeta regalo se enviará a tu correo</div>
  </div>
  <footer class="giftcard-footer">
    <div class="giftcard-text">
      <h1 style="font-size: 22px;">Tarjeta Regalo Google Play</h1>
      <h2>10€</h2>
    </div>
    <div class="ribbon">
      <div class="giftwrap">
        <button
              type="button"
              class="btn text-center"
              style="
                width: 75%;
                height: 32%;
                font-family: '8BIT WONDER', sans-serif;
                font-size: 9px;
                bottom: -30%;
                margin-left: 20px;
                background-color: orange;
                color: white;
                font-size: 12px;
              "
            >
              Canjear
            </button>
      </div>
      <div class="bow">
        <i class="fa fa-bookmark"></i>
        <i class="fa fa-bookmark"></i>
      </div>
    </div>
    <div class="giftcard-info">
      <div>
        <a  class="button secondary">Confirmar</a>
      </div>
    </div>
  </footer>
</section>

<div class="route" id="buy"></div>
<section class="giftcard">
  <section class="giftcard-cover">
    <img src=".\assets\steam.png">
  </section>
  <div class="giftcard-content">
    <h2>Enohorabuena! Has conseguido un premioooo!</h2>
    <address>
      <h3>Email de usuario</h3>

    </address>
    <div class="subtext">El código de la tarjeta regalo se enviará a tu correo</div>
  </div>
  <footer class="giftcard-footer">
    <div class="giftcard-text">
      <h1>Tarjeta Regalo Steam</h1>
      <h2>10€</h2>
    </div>
    <div class="ribbon">
      <div class="giftwrap">
        <button
              type="button"
              class="btn text-center"
              style="
                width: 75%;
                height: 32%;
                font-family: '8BIT WONDER', sans-serif;
                font-size: 9px;
                bottom: -30%;
                margin-left: 20px;
                background-color: orange;
                color: white;
                font-size: 12px;
              "
            >
              Canjear
            </button>
      </div>
      <div class="bow">
        <i class="fa fa-bookmark"></i>
        <i class="fa fa-bookmark"></i>
      </div>
    </div>
    <div class="giftcard-info">
      <div>
        <a  class="button secondary">Confirmar</a>
      </div>
    </div>
  </footer>
</section>
</div>
