@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

html {
  background: transparent;
}

.route {
  display: none;
}
.giftcard {
  height: 250px;
  width: 450px;
  font-family: PT Sans, sans-serif;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 1.5rem/2rem;
  -webkit-box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.1);
  box-shadow: 8px 10px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.giftcard-content,
.giftcard-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 5rem);
  width: 100%;
}

.giftcard-cover {
  background: #e4c0da;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

.giftcard-cover {
  color: white;
  font-size: 6rem;
}

.giftcard-content {
  padding: 1rem 2rem;
  color: #939393;
  z-index: 1;
  background: white;
}

.giftcard-content > * {
  -webkit-transform: translateX(3rem);
  transform: translateX(3rem);
  opacity: 0;
}

.giftcard-content h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.giftcard-content h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: normal;
}

.giftcard-content h2,
.giftcard-content h3 {
  color: #232323;
}

.giftcard-content div {
  font-size: 1rem;
}

.giftcard-content address {
  font-style: normal;
  margin-bottom: 1rem;
}

.giftcard-content a,
.giftcard-content .subtext {
  color: #939393;
}

.giftcard-content a {
  display: block;
  text-decoration: none;
}

.giftcard-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background: white;
  z-index: 3;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.giftcard-footer > * {
  float: left;
}

.giftcard-text,
.giftcard-info {
  width: calc(100% - 150px);
  padding: 1rem;
}

.giftcard-text {
  height: 100%;
  padding: 1rem;
}

.giftcard-text > h1,
.giftcard-text > h2 {
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
}

.giftcard-text h1 {
  font-size: 1.5rem;
  color: #cc199d;
}

.giftcard-text h2 {
  font-size: 1.2rem;
  color: #939393;
}

.giftcard-info {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  text-align: right;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  display: table;
  padding-left: 0;
  background: white;
}

.giftcard-info > * {
  display: table-cell;
}

.giftcard-info > *:first-child {
  padding-right: 1rem;
}

.button {
  border-radius: 3px;
}

.button {
  display: inline-block;
  width: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: orange;
  color: white;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

.button.secondary {
  background: #009cee;
}

.giftwrap {
  width: 150px;
  height: 150px;
}

.ribbon {
  width: 150px;
  height: 150px;
  top: calc(50% - 75px);
}
