<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Estadisticas</title>
    <link href="https://fonts.cdnfonts.com/css/8bit-wonder" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="circles">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
          </div>

        <div class="card">
            <div class="only_logo">
                <img src=".\assets\output-onlinepngtools.png" alt="">
            </div>
            <div class="container" style="margin-left: 35px; margin-bottom: 50px;">
              <div class="row">
              </div>
              <div class="carta_info">
                <div class="col-sm" style="font-family: '8BIT WONDER', sans-serif; color: white; font-size: 16px; margin-right: 120px;">
                  <img src=".\assets\alien-space-character-of-pixels-for-a-game.png" alt="">
                  <p style="font-family: '8BIT WONDER', sans-serif;">TagName: {{ currentUserGameTag }}</p>
                  <p style="font-family: '8BIT WONDER', sans-serif;">Partidas:</p>
                  <p style="font-family: '8BIT WONDER', sans-serif;">Monedas: {{ currentUserCoins }} <img src=".\assets\coin.png" style="width: 18px; height: 18px; margin-top: 4px; margin-left: 2px;"></p>
                  <p style="font-family: '8BIT WONDER', sans-serif;">Diamantes: {{ currentUserDiamantes }} <img src=".\assets\diamond.png" style="width: 18px; height: 18px; margin-top: 4px; margin-left: 2px;"></p>
                </div>
              </div>
              <div class="col-sm" style="font-family: '8BIT WONDER', sans-serif; color: white; font-size: 16px; ">
                <p style="font-family: '8BIT WONDER', sans-serif; margin-bottom: 10px; margin-top: 28px;">Highest Scores</p>
                <ul style="margin-left: 5px; list-style-type:none ">
                  <li style="font-family: '8BIT WONDER', sans-serif; font-size: 12px; margin-bottom: 5px;">Flappy Bird: </li>
                  <li style="font-family: '8BIT WONDER', sans-serif; font-size: 12px; margin-bottom: 5px;">Snake: </li>
                  <li style="font-family: '8BIT WONDER', sans-serif;  font-size: 12px; margin-bottom: 5px;">Breakout: </li>
                  <li style="font-family: '8BIT WONDER', sans-serif;  font-size: 12px; margin-bottom: 5px;">Ajedrez: </li>
                 </ul>
              </div>
            </div>
        </div>
    </div>
</body>
</html>

