<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BreakOut</title>
    <meta
    />
    <meta name="msapplication-TileColor" content="#da532c">
    </head>
<body>

    <canvas id="breakout" width="800" height="600" style="font-family: '8BIT WONDER', sans-serif"></canvas>
    <br/>
    <button id="play-button" style="font-family: '8BIT WONDER', sans-serif; background-color: rgb(228, 118, 238);" onclick="play()">START</button>

</body>
</html>

